@import './../variables';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.content-wrapper {
  padding: $padding-content;
}
